In [1]:
# this is the library that we will use to create break times in order to mimic human behaviour
import time
from getpass import getpass


# Juicy stuff- these are the Classes we will use for interaction with a webpage:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager


# library for interacting with the operating system
import os

# you know pandas it's your best buddy
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import re

# library for directory location:

import pathlib
from os.path import join

#Ignore warning -- Some methods are going to be deprecated and I didn't change all (mainly in the function scrapper)
import warnings
warnings.filterwarnings('ignore')

from playsound import playsound
from datetime import datetime
import mysql.connector

In [2]:
csv_file_path = '/Users/martynas/Desktop/Ironhack/Project - Final/GOLDEN TABLES/departures_for_visual.csv'
data = pd.read_csv(csv_file_path)

In [14]:
data

,departure_city,destination_city,country,date_depart,departure_time_difference,departure_status,airline,airline_type,cleaned_airline
0,Berlin,Palma de Mallorca,Spain,2024-07-01,0,On Time,SUNDAIR (SDR),budget,Sundair
1,Berlin,Ibiza,Spain,2024-07-01,0,On Time,Eurowings (EW),budget,Eurowings
2,Berlin,Palma de Mallorca,Spain,2024-07-01,0,On Time,easyJet Europe (EJU),budget,Easyjet Europe
3,Berlin,Zurich,Switzerland,2024-07-01,0,On Time,easyJet Europe (EJU),budget,Easyjet Europe
4,Berlin,Palma de Mallorca,Spain,2024-07-01,0,On Time,Ryanair (FR),budget,Ryanair
...,...,...,...,...,...,...,...,...,...
13296,London,Cork,Ireland,2024-09-09,6,Delayed,Aer Lingus,premium,Aer Lingus
13297,London,Abu Dhabi,United Arab Emirates,2024-09-09,49,Delayed,British Airways,premium,British Airways
13298,London,Lagos,Nigeria,2024-09-09,32,Delayed,Virgin Atlantic,premium,Virgin Atlantic
13299,London,Mexico City,Mexico,2024-09-09,4,Delayed,Aeromexico,premium,Aeromexico
13300,London,Qingdao,China,2024-09-09,6,Delayed,Beijing Capital Airlines,budget,Beijing Capital Airlines

In [4]:
data['airline'].value_counts()

airline
British Airways         2751
Ryanair (FR)            1158
easyJet Europe (EJU)     880
Eurowings (EW)           718
TAP AIR PORTUGAL         629
                        ...
BULGARIA AIR               1
NOUVELAIR                  1
NORWEGIAN AIR              1
ISRAIR AIRLINES            1
BEIJING CAPITAL            1
Name: count, Length: 230, dtype: int64

In [5]:
airline_code_mapping = {
    'VL': 'MED-VIEW AIRLINE',
    'IV': 'WINDJET',
    'BQ': 'BLUEBIRD AIRWAYS',
    'VF': 'VALUJET AIRLINES',
    'OG': 'ONE-TWO-GO AIRLINES',
    'N0': 'NORSE ATLANTIC AIRWAYS',
    '6K': 'GERMANWINGS',
    'TLJ': 'JETLINE INTERNATIONAL',
    'OE': 'LAUDA EUROPE',
    'XY': 'FLYNAS',
    # Add more mappings here if needed
}

# Modified function to clean airline names, now accounting for airline codes and all caps
def clean_airline_name(airline):
    if pd.isna(airline):
        return np.nan
    # Remove airline codes in parentheses and convert name to uppercase
    clean_name = airline.split('(')[0].strip().upper()  
    # If the airline name is just a code (e.g., '(VL)'), map it to the actual airline name in all caps
    if clean_name == '':
        code = airline.strip('()')  # Extract the code
        return airline_code_mapping.get(code, np.nan)  # Return the mapped airline name or NaN if not found
    return clean_name

# Apply the updated cleaning function to the DataFrame
data['cleaned_airline'] = data['airline'].apply(clean_airline_name)

In [6]:
data['cleaned_airline'].value_counts()

cleaned_airline
BRITISH AIRWAYS               3010
RYANAIR                       1272
EASYJET EUROPE                 987
EUROWINGS                      822
LUFTHANSA                      786
                              ...
ALBA STAR                        1
ENTER AIR                        1
EAGLE AVIATION GMBH              1
MALTA AIR                        1
PAN EUROPÃ‰ENNE AIR SERVICE       1
Name: count, Length: 174, dtype: int64

In [15]:
data.to_csv(csv_file_path, index=False)

In [13]:
data[data['airline'] == '(VF)']

,departure_city,destination_city,country,date_depart,departure_time_difference,departure_status,airline,airline_type,cleaned_airline
114,Berlin,Istanbul SAW,Turkey,2024-07-01,0,On Time,(VF),budget,Valujet Airlines
217,Berlin,Ankara ESB,Turkey,2024-07-01,0,On Time,(VF),budget,Valujet Airlines
370,Berlin,Istanbul SAW,Turkey,2024-07-02,0,On Time,(VF),budget,Valujet Airlines
616,Berlin,Istanbul SAW,Turkey,2024-07-03,0,On Time,(VF),budget,Valujet Airlines
882,Berlin,Istanbul SAW,Turkey,2024-09-05,0,On Time,(VF),budget,Valujet Airlines
1136,Berlin,Istanbul SAW,Turkey,2024-07-06,0,On Time,(VF),budget,Valujet Airlines
1339,Berlin,Istanbul SAW,Turkey,2024-09-06,0,On Time,(VF),budget,Valujet Airlines
1448,Berlin,Ankara ESB,Turkey,2024-09-06,0,On Time,(VF),budget,Valujet Airlines
1620,Berlin,Istanbul SAW,Turkey,2024-07-07,0,On Time,(VF),budget,Valujet Airlines
1716,Berlin,Ankara ESB,Turkey,2024-07-07,0,On Time,(VF),budget,Valujet Airlines
1874,Berlin,Istanbul SAW,Turkey,2024-09-07,0,On Time,(VF),budget,Valujet Airlines
2085,Berlin,Istanbul SAW,Turkey,2024-07-08,0,On Time,(VF),budget,Valujet Airlines
2184,Berlin,Ankara ESB,Turkey,2024-07-08,95,Delayed,(VF),budget,Valujet Airlines
2340,Berlin,Istanbul SAW,Turkey,2024-09-08,0,On Time,(VF),budget,Valujet Airlines
2438,Berlin,Ankara ESB,Turkey,2024-09-08,0,On Time,(VF),budget,Valujet Airlines
2600,Berlin,Istanbul SAW,Turkey,2024-07-09,0,On Time,(VF),budget,Valujet Airlines
2866,Berlin,Istanbul SAW,Turkey,2024-09-09,0,On Time,(VF),budget,Valujet Airlines
2971,Berlin,Ankara ESB,Turkey,2024-09-09,0,On Time,(VF),budget,Valujet Airlines
3145,Berlin,Istanbul SAW,Turkey,2024-09-10,0,On Time,(VF),budget,Valujet Airlines
3402,Berlin,Istanbul SAW,Turkey,2024-07-13,0,On Time,(VF),budget,Valujet Airlines
3620,Berlin,Istanbul SAW,Turkey,2024-07-14,0,On Time,(VF),budget,Valujet Airlines
3724,Berlin,Ankara ESB,Turkey,2024-07-14,0,On Time,(VF),budget,Valujet Airlines
3905,Berlin,Istanbul SAW,Turkey,2024-07-15,0,On Time,(VF),budget,Valujet Airlines
4018,Berlin,Ankara ESB,Turkey,2024-07-15,0,On Time,(VF),budget,Valujet Airlines
4175,Berlin,Istanbul SAW,Turkey,2024-06-16,100,Delayed,(VF),budget,Valujet Airlines
4277,Berlin,Ankara ESB,Turkey,2024-06-16,0,On Time,(VF),budget,Valujet Airlines
4438,Berlin,Istanbul SAW,Turkey,2024-07-16,0,On Time,(VF),budget,Valujet Airlines
4702,Berlin,Istanbul SAW,Turkey,2024-06-17,0,On Time,(VF),budget,Valujet Airlines
4805,Berlin,Ankara ESB,Turkey,2024-06-17,0,On Time,(VF),budget,Valujet Airlines
4967,Berlin,Istanbul SAW,Turkey,2024-07-17,0,On Time,(VF),budget,Valujet Airlines
5193,Berlin,Istanbul SAW,Turkey,2024-06-24,0,On Time,(VF),budget,Valujet Airlines
5292,Berlin,Ankara ESB,Turkey,2024-06-24,0,On Time,(VF),budget,Valujet Airlines
5452,Berlin,Istanbul SAW,Turkey,2024-06-25,0,On Time,(VF),budget,Valujet Airlines
5721,Berlin,Istanbul SAW,Turkey,2024-06-26,0,On Time,(VF),budget,Valujet Airlines
5991,Berlin,Istanbul SAW,Turkey,2024-06-27,0,On Time,(VF),budget,Valujet Airlines
6265,Berlin,Istanbul SAW,Turkey,2024-06-28,0,On Time,(VF),budget,Valujet Airlines
6381,Berlin,Ankara ESB,Turkey,2024-06-28,0,On Time,(VF),budget,Valujet Airlines
6549,Berlin,Istanbul SAW,Turkey,2024-06-29,0,On Time,(VF),budget,Valujet Airlines

In [9]:
def fill_airline_type(airline_type):
    if airline_type.lower() == 'unknown':  # Check if the value is 'unknown' (case-insensitive)
        return 'budget'
    return airline_type  # Return the original value if it's not 'unknown'

# Apply the function to the 'airline_type' column
data['airline_type'] = data['airline_type'].apply(fill_airline_type)

In [10]:
data['cleaned_airline'].dtype

dtype('O')

In [11]:
def clean_airline_name(airline):
    if pd.isna(airline):
        return np.nan
    # Remove airline codes in parentheses and convert name to uppercase
    clean_name = airline.split('(')[0].strip().upper()  
    # If the airline name is just a code (e.g., '(VL)'), map it to the actual airline name
    if clean_name == '':
        code = airline.strip('()')  # Extract the code
        mapped_name = airline_code_mapping.get(code, np.nan)  # Get the mapped airline name or NaN
        if isinstance(mapped_name, str):  # Ensure it's a string before applying .title()
            return mapped_name.title()
        else:
            return np.nan  # Return NaN if not found in mapping
    return clean_name.title()  # Return title case for other cleaned names

# Apply the updated cleaning function to the DataFrame
data['cleaned_airline'] = data['airline'].apply(clean_airline_name)

In [12]:
data['cleaned_airline'].nunique()

174

In [15]:
data['airline'] = data['cleaned_airline']

In [17]:
data['airline'].nunique()

175

In [18]:
data.drop(columns=['cleaned_airline'], inplace=True)
data

,airline,departure_time_scheduled,date_depart,departure_city,destination_city,country,departure_time_difference,departure_status
0,Austrian,06:00:00,2024-09-02,London,Vienna,Austria,11,Delayed
1,Swiss International Airlines,06:00:00,2024-09-02,London,Zurich,Switzerland,6,Delayed
2,British Airways,06:15:00,2024-09-02,London,Malaga,Spain,11,Delayed
3,Air France,06:15:00,2024-09-02,London,Paris,France,6,Delayed
4,British Airways,06:15:00,2024-09-02,London,Edinburgh,United Kingdom,13,Delayed
...,...,...,...,...,...,...,...,...
15185,Tap Air Portugal,23:45:00,2024-09-13,Lisbon,Nador,Morocco,17,Delayed
15186,Tap Air Portugal,23:45:00,2024-09-13,Lisbon,Recife,Brazil,20,Delayed
15187,Aegean Airlines,23:50:00,2024-09-13,Lisbon,Athens,Greece,87,Delayed
15188,Tap Air Portugal,23:50:00,2024-09-13,Lisbon,Madeira,Portugal,41,Delayed
15189,Ryanair,23:50:00,2024-09-13,Lisbon,"Malta, Luqa",Malta,49,Delayed